<header>
    <nav>
        <a href='/'>My Library</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors">New Authors</a></li>
            <li><a href="/authors">Books</a></li>
            <li><a href="/authors">New Books</a></li>

        </ul>
        </nav>
</header>
